In [ ]:
import pandas as pd

In [4]:
from src.ftr_aggregate import load_features
totals = ['NO_TOTAL', 'TOTAL']
years_choices = [('~2014', (2014, 2015, 2016, 2017)), ('~2016', (2016, 2017)), ]

features = {}
for total_or_not in totals:
    for year_type, years in years_choices:
        print(total_or_not, year_type)
        ftrs, cols_by_type = load_features(None, how=total_or_not, years=years, pair_with_y=False, verbose=True)
        features[(total_or_not, year_type)] = (ftrs, cols_by_type)

NO_TOTAL ~2014
loading seg_attr feature_seg_attribute_dc.csv
seg_attr all columns #: 20 columns pass NA thres: 20

loading elevation feature_elevation_diff_dc.csv
elevation all columns #: 1 columns pass NA thres: 1

loading net_SaN feature_seg_as_node_dc.csv
net_SaN all columns #: 20 columns pass NA thres: 20

loading net_SaE feature_seg_as_edge_dc.csv
net_SaE all columns #: 3 columns pass NA thres: 3

loading bk_osm feature_bk_facs_dc.csv
bk_osm all columns #: 13 columns pass NA thres: 13

loading bk_opendc feature_bk_opendc_dc.csv
bk_opendc all columns #: 6 columns pass NA thres: 6

loading poi feature_poi_dc.csv
poi all columns #: 10 columns pass NA thres: 10

loading crash feature_crash_dc.csv
crash all columns #: 49 columns pass NA thres: 11

loading 311 feature_311_dc.csv
311 all columns #: 72 columns pass NA thres: 72

loading v0 feature_vision0_dc.csv
v0 all columns #: 20 columns pass NA thres: 20

loading crime feature_crime_dc.csv
crime all columns #: 12 columns pass NA thres: 11

loading moving feature_mov_violations_dc.csv
moving all columns #: 349 columns pass NA thres: 8

loading parking feature_parking_violations_dc.csv
parking all columns #: 254 columns pass NA thres: 36

filter columns with > 90% NAs 829 -> 231
['moving', 'parking', 'crash'] replace NA by seg type
fill the rest NA with 0
NO_TOTAL ~2016
loading seg_attr feature_seg_attribute_dc.csv
seg_attr all columns #: 20 columns pass NA thres: 20

loading elevation feature_elevation_diff_dc.csv
elevation all columns #: 1 columns pass NA thres: 1

loading net_SaN feature_seg_as_node_dc.csv
net_SaN all columns #: 20 columns pass NA thres: 20

loading net_SaE feature_seg_as_edge_dc.csv
net_SaE all columns #: 3 columns pass NA thres: 3

loading bk_osm feature_bk_facs_dc.csv
bk_osm all columns #: 13 columns pass NA thres: 13

loading bk_opendc feature_bk_opendc_dc.csv
bk_opendc all columns #: 6 columns pass NA thres: 6

loading poi feature_poi_dc.csv
poi all columns #: 10 columns pass NA thres: 10

loading crash feature_crash_dc.csv
crash all columns #: 49 columns pass NA thres: 2

loading 311 feature_311_dc.csv
311 all columns #: 72 columns pass NA thres: 72

loading v0 feature_vision0_dc.csv
v0 all columns #: 20 columns pass NA thres: 0

loading crime feature_crime_dc.csv
crime all columns #: 12 columns pass NA thres: 10

loading moving feature_mov_violations_dc.csv
moving all columns #: 349 columns pass NA thres: 0

loading parking feature_parking_violations_dc.csv
parking all columns #: 254 columns pass NA thres: 22

filter columns with > 90% NAs 829 -> 179
['moving', 'parking', 'crash'] replace NA by seg type
fill the rest NA with 0
TOTAL ~2014
loading seg_attr feature_seg_attribute_dc.csv
seg_attr all columns #: 20 columns pass NA thres: 20

loading elevation feature_elevation_diff_dc.csv
elevation all columns #: 1 columns pass NA thres: 1

loading net_SaN feature_seg_as_node_dc.csv
net_SaN all columns #: 20 columns pass NA thres: 20

loading net_SaE feature_seg_as_edge_dc.csv
net_SaE all columns #: 3 columns pass NA thres: 3

loading bk_osm feature_bk_facs_dc.csv
bk_osm all columns #: 13 columns pass NA thres: 13

loading bk_opendc feature_bk_opendc_dc.csv
bk_opendc all columns #: 1 columns pass NA thres: 1

loading poi feature_poi_dc.csv
poi all columns #: 1 columns pass NA thres: 1

loading crash feature_crash_dc.csv
crash all columns #: 1 columns pass NA thres: 1

loading 311 feature_311_dc.csv
311 all columns #: 2 columns pass NA thres: 2

loading v0 feature_vision0_dc.csv
v0 all columns #: 1 columns pass NA thres: 1

loading crime feature_crime_dc.csv
crime all columns #: 1 columns pass NA thres: 1

loading moving feature_mov_violations_dc.csv
moving all columns #: 1 columns pass NA thres: 1

loading parking feature_parking_violations_dc.csv
parking all columns #: 1 columns pass NA thres: 1

filter columns with > 90% NAs 66 -> 66
['moving', 'parking', 'crash'] replace NA by seg type
fill the rest NA with 0
TOTAL ~2016
loading seg_attr feature_seg_attribute_dc.csv
seg_attr all columns #: 20 columns pass NA thres: 20

loading elevation feature_elevation_diff_dc.csv
elevation all columns #: 1 columns pass NA thres: 1

loading net_SaN feature_seg_as_node_dc.csv
net_SaN all columns #: 20 columns pass NA thres: 20

loading net_SaE feature_seg_as_edge_dc.csv
net_SaE all columns #: 3 columns pass NA thres: 3

loading bk_osm feature_bk_facs_dc.csv
bk_osm all columns #: 13 columns pass NA thres: 13

loading bk_opendc feature_bk_opendc_dc.csv
bk_opendc all columns #: 1 columns pass NA thres: 1

loading poi feature_poi_dc.csv
poi all columns #: 1 columns pass NA thres: 1

loading crash feature_crash_dc.csv
crash all columns #: 1 columns pass NA thres: 1

loading 311 feature_311_dc.csv
311 all columns #: 2 columns pass NA thres: 2

loading v0 feature_vision0_dc.csv
v0 all columns #: 1 columns pass NA thres: 0

loading crime feature_crime_dc.csv
crime all columns #: 1 columns pass NA thres: 1

loading moving feature_mov_violations_dc.csv
moving all columns #: 1 columns pass NA thres: 1

loading parking feature_parking_violations_dc.csv
parking all columns #: 1 columns pass NA thres: 1

filter columns with > 90% NAs 66 -> 65
['moving', 'parking', 'crash'] replace NA by seg type
fill the rest NA with 0

In [63]:
def parse_output(total_year, sum_filtered, each_type):
    keep_lines = []
    for l in each_type.split('\n'):
        if l=='' or l.startswith('loading'):
            continue
        keep_lines.append(l.strip().replace('all columns #: ','').replace(' columns pass NA thres:', '').split(' '))

    print(total_year)
    print(sum_filtered)
    df = pd.DataFrame(keep_lines)
    df.columns = ['type', 'before', 'after']
    df.before = df.before.astype(int)
    df.after = df.after.astype(int)
    social = df.iloc[6:, 1:].sum().values
    roadnet = df.iloc[:6, 1:].sum().values
    print('%d(%d) road network features' % (roadnet[0], roadnet[1]))    
    print('%d(%d) social features' % (social[0], social[1]))
    dict_name = {
    'poi': 'POI', 'crash': 'crash data', '311': '311 requests', 'v0': 'vision zero', 
    'crime': 'crime data', 'moving': 'moving violations', 'parking': 'parking violations'
    }
    for name, before, after in df.iloc[6:].values:
        print('%d(%d) types for %s' %(before, after, dict_name[name]))
        
    return df

In [64]:
each_type = """
loading seg_attr feature_seg_attribute_dc.csv
seg_attr all columns #: 20 columns pass NA thres: 20 

loading elevation feature_elevation_diff_dc.csv 
elevation all columns #: 1 columns pass NA thres: 1 

loading net_SaN feature_seg_as_node_dc.csv
net_SaN all columns #: 20 columns pass NA thres: 20 

loading net_SaE feature_seg_as_edge_dc.csv
net_SaE all columns #: 3 columns pass NA thres: 3 

loading bk_osm feature_bk_facs_dc.csv
bk_osm all columns #: 13 columns pass NA thres: 13 

loading bk_opendc feature_bk_opendc_dc.csv
bk_opendc all columns #: 6 columns pass NA thres: 6 

loading poi feature_poi_dc.csv
poi all columns #: 10 columns pass NA thres: 10 

loading crash feature_crash_dc.csv
crash all columns #: 49 columns pass NA thres: 11 

loading 311 feature_311_dc.csv
311 all columns #: 72 columns pass NA thres: 72 

loading v0 feature_vision0_dc.csv
v0 all columns #: 20 columns pass NA thres: 20 

loading crime feature_crime_dc.csv
crime all columns #: 12 columns pass NA thres: 11 

loading moving feature_mov_violations_dc.csv
moving all columns #: 349 columns pass NA thres: 8 

loading parking feature_parking_violations_dc.csv
parking all columns #: 254 columns pass NA thres: 36 
"""

total_year = 'NOTOTAL ~2014'
sum_filtered = 'filter columns with > 90% NAs 829 -> 231'
df = parse_output(total_year, sum_filtered, each_type)
df

NOTOTAL ~2014
filter columns with > 90% NAs 829 -> 231
63(63) road network features
766(168) social features
10(10) types for POI
49(11) types for crash data
72(72) types for 311 requests
20(20) types for vision zero
12(11) types for crime data
349(8) types for moving violations
254(36) types for parking violations

         type  before  after
0    seg_attr      20     20
1   elevation       1      1
2     net_SaN      20     20
3     net_SaE       3      3
4      bk_osm      13     13
5   bk_opendc       6      6
6         poi      10     10
7       crash      49     11
8         311      72     72
9          v0      20     20
10      crime      12     11
11     moving     349      8
12    parking     254     36

In [69]:
s = """

loading seg_attr feature_seg_attribute_dc.csv
seg_attr all columns #: 20 columns pass NA thres: 20 

loading elevation feature_elevation_diff_dc.csv 
elevation all columns #: 1 columns pass NA thres: 1 

loading net_SaN feature_seg_as_node_dc.csv
net_SaN all columns #: 20 columns pass NA thres: 20 

loading net_SaE feature_seg_as_edge_dc.csv
net_SaE all columns #: 3 columns pass NA thres: 3 

loading bk_osm feature_bk_facs_dc.csv
bk_osm all columns #: 13 columns pass NA thres: 13 

loading bk_opendc feature_bk_opendc_dc.csv
bk_opendc all columns #: 6 columns pass NA thres: 6 

loading poi feature_poi_dc.csv
poi all columns #: 10 columns pass NA thres: 10 

loading crash feature_crash_dc.csv
crash all columns #: 49 columns pass NA thres: 2 

loading 311 feature_311_dc.csv
311 all columns #: 72 columns pass NA thres: 72 

loading v0 feature_vision0_dc.csv
v0 all columns #: 20 columns pass NA thres: 0 

loading crime feature_crime_dc.csv
crime all columns #: 12 columns pass NA thres: 10 

loading moving feature_mov_violations_dc.csv
moving all columns #: 349 columns pass NA thres: 0 

loading parking feature_parking_violations_dc.csv
parking all columns #: 254 columns pass NA thres: 22 


"""


total_year = 'NO_TOTAL ~2016'
sum_filtered = 'filter columns with > 90% NAs 829 -> 179'
df2 = parse_output(total_year, sum_filtered, s)
df2

NO_TOTAL ~2016
filter columns with > 90% NAs 829 -> 179
63(63) road network features
766(116) social features
10(10) types for POI
49(2) types for crash data
72(72) types for 311 requests
20(0) types for vision zero
12(10) types for crime data
349(0) types for moving violations
254(22) types for parking violations

         type  before  after
0    seg_attr      20     20
1   elevation       1      1
2     net_SaN      20     20
3     net_SaE       3      3
4      bk_osm      13     13
5   bk_opendc       6      6
6         poi      10     10
7       crash      49      2
8         311      72     72
9          v0      20      0
10      crime      12     10
11     moving     349      0
12    parking     254     22

In [75]:
df_m = df.merge(df2, left_on='type', right_on='type').loc[6:,['type', 'before_x', 'after_x', 'after_y']]
df_m.columns = ['data', 'before', 'after, using 2014', 'after, using 2016']
df_m

       data  before  after, using 2014  after, using 2016
6       poi      10                 10                 10
7     crash      49                 11                  2
8       311      72                 72                 72
9        v0      20                 20                  0
10    crime      12                 11                 10
11   moving     349                  8                  0
12  parking     254                 36                 22

In [66]:
s = """
loading seg_attr feature_seg_attribute_dc.csv
seg_attr all columns #: 20 columns pass NA thres: 20 

loading elevation feature_elevation_diff_dc.csv 
elevation all columns #: 1 columns pass NA thres: 1 

loading net_SaN feature_seg_as_node_dc.csv
net_SaN all columns #: 20 columns pass NA thres: 20 

loading net_SaE feature_seg_as_edge_dc.csv
net_SaE all columns #: 3 columns pass NA thres: 3 

loading bk_osm feature_bk_facs_dc.csv
bk_osm all columns #: 13 columns pass NA thres: 13 

loading bk_opendc feature_bk_opendc_dc.csv
bk_opendc all columns #: 1 columns pass NA thres: 1 

loading poi feature_poi_dc.csv
poi all columns #: 1 columns pass NA thres: 1 

loading crash feature_crash_dc.csv
crash all columns #: 1 columns pass NA thres: 1 

loading 311 feature_311_dc.csv
311 all columns #: 2 columns pass NA thres: 2 

loading v0 feature_vision0_dc.csv
v0 all columns #: 1 columns pass NA thres: 1 

loading crime feature_crime_dc.csv
crime all columns #: 1 columns pass NA thres: 1 

loading moving feature_mov_violations_dc.csv
moving all columns #: 1 columns pass NA thres: 1 

loading parking feature_parking_violations_dc.csv
parking all columns #: 1 columns pass NA thres: 1 

"""


total_year = 'TOTAL ~2014'
sum_filtered = 'filter columns with > 90% NAs 66 -> 66'
parse_output(total_year, sum_filtered, s)

TOTAL ~2014
filter columns with > 90% NAs 66 -> 66
58(58) road network features
8(8) social features
1(1) types for POI
1(1) types for crash data
2(2) types for 311 requests
1(1) types for vision zero
1(1) types for crime data
1(1) types for moving violations
1(1) types for parking violations

         type  before  after
0    seg_attr      20     20
1   elevation       1      1
2     net_SaN      20     20
3     net_SaE       3      3
4      bk_osm      13     13
5   bk_opendc       1      1
6         poi       1      1
7       crash       1      1
8         311       2      2
9          v0       1      1
10      crime       1      1
11     moving       1      1
12    parking       1      1

In [67]:
s = """
loading seg_attr feature_seg_attribute_dc.csv
seg_attr all columns #: 20 columns pass NA thres: 20 

loading elevation feature_elevation_diff_dc.csv 
elevation all columns #: 1 columns pass NA thres: 1 

loading net_SaN feature_seg_as_node_dc.csv
net_SaN all columns #: 20 columns pass NA thres: 20 

loading net_SaE feature_seg_as_edge_dc.csv
net_SaE all columns #: 3 columns pass NA thres: 3 

loading bk_osm feature_bk_facs_dc.csv
bk_osm all columns #: 13 columns pass NA thres: 13 

loading bk_opendc feature_bk_opendc_dc.csv
bk_opendc all columns #: 1 columns pass NA thres: 1 

loading poi feature_poi_dc.csv
poi all columns #: 1 columns pass NA thres: 1 

loading crash feature_crash_dc.csv
crash all columns #: 1 columns pass NA thres: 1 

loading 311 feature_311_dc.csv
311 all columns #: 2 columns pass NA thres: 2 

loading v0 feature_vision0_dc.csv
v0 all columns #: 1 columns pass NA thres: 0 

loading crime feature_crime_dc.csv
crime all columns #: 1 columns pass NA thres: 1 

loading moving feature_mov_violations_dc.csv
moving all columns #: 1 columns pass NA thres: 1 

loading parking feature_parking_violations_dc.csv
parking all columns #: 1 columns pass NA thres: 1 

"""


total_year = 'TOTAL ~2016'
sum_filtered = 'filter columns with > 90% NAs 66 -> 65'
parse_output(total_year, sum_filtered, s)

TOTAL ~2016
filter columns with > 90% NAs 66 -> 65
58(58) road network features
8(7) social features
1(1) types for POI
1(1) types for crash data
2(2) types for 311 requests
1(0) types for vision zero
1(1) types for crime data
1(1) types for moving violations
1(1) types for parking violations

         type  before  after
0    seg_attr      20     20
1   elevation       1      1
2     net_SaN      20     20
3     net_SaE       3      3
4      bk_osm      13     13
5   bk_opendc       1      1
6         poi       1      1
7       crash       1      1
8         311       2      2
9          v0       1      0
10      crime       1      1
11     moving       1      1
12    parking       1      1